html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 88%; }
.firstHeading{ text-align: center}
body{
    /*background-color:#F9f9f9;*/
    /*background-color:black;//#0000b3*/
    /*background-color:#bfbfbf;*/

    /*background-color: #D8D8D8;*/
    /*background: url('../img/nodejs-01.jpg') no-repeat center center fixed;*/
    /*background: url('../img/background.jpg') ;*/
    background: url('../img/bg200.png') ;
    background-position: 0% 0%;

    font-family: 'Droid Sans Mono' ;
}

table th:first-child{
border-radius:10px 0 0 10px;
}
table th:last-child{
border-radius:0 10px 10px 0;
}
table td:first-child{
border-radius:10px 0 0 10px;
}
table td:last-child{
border-radius:0 10px 10px 0;
}

/*  caption {*/
/*  	 text-align: left;*/
/*  	 color: white;*/
/*    background-color: #3F51B5;*/
/*     padding: 8px 12px;*/
/* }*/
table{
/*padding: 8px 12px;*/
border:2;
border-style: solid;
border-color: #D8D8D8;
}
.flat-table {
border:2;
/*display: block;*/
font-size: 115%;
/*overflow: auto;*/
width: auto;
}

th {
background-color: #3F51B5;
color: white;
font-weight: 500;
font-weight: normal;
/*//    padding: 20px 30px;*/
padding: 8px 12px;
text-align: center;
}

td {
background-color:  #E8EAF6;
font-weight: 400;
color: rgb(111, 111, 111);
padding: 8px 12px;
}
