<!DOCTYPE html>
<html ng-app="sampleApp">
    <head>
        <title>走過必留痕跡! by 諾得捷思</title>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

        <script src="biz-js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
        <script src="bootstrap/bootstrap.min.js"></script>


        <link rel="stylesheet" type="text/css" href="bus.css">
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

    </head>
    <body  ng-controller="SampleCtrl">
        <div class="container">
            <div class="row">
                <button onclick="showAnchor()" class="btn btn-danger " >走過必留痕跡!</button>
                <button onclick="selectRoute()" class="btn btn-success " ><div id="busCnt">【路線】車輛數</div></button>
                <button id="showRouteBusList" onclick="showRouteBusListV2()"  class="btn  btn-primary" ><div id="routeCnt">...載入中,請稍候</div></button>
                <!-- <select  class="form-control" style="font-size:110%"   name="selectRoute" id="ddlRoute" ng-model="selectRoute.selectedValue" ng-change="ddlRouteChange(selectRoute.selectedValue)"   >
                    <option    value="" disabled selected > === 請選擇路線 === </option>
                    <option  ng-repeat="doc in routes" value="{{doc}}">{{doc.routeName}} &nbsp; &nbsp;{{doc.startStop}} => {{doc.endStop}}</option>
                </select> -->
                  <div  id="ddlRoute"></div>
            </div>
            <div class="row">
                <div id="list"></div>
            </div>
        </div>
        <div id="map"></div>
        <script src="biz-js/bus-debug.js"></script>
        <script src="biz-js/bus-basic.js"></script>

        <script src="biz-js/bus-hide-map.js"></script>
        <script src="biz-js/bus-init-map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8DY8o-Qzo6Yv9bYzP-cBO9cmgqAwXh0c&callback=initMap"  async defer></script>
        <script src="biz-js/date.format.js"></script>
        <script src="biz-js/bus-util-make-marker.js"></script>
        <script src="biz-js/bus-firebase.js"></script>
        <script src="server-tasks/routeStops.js"></script>
        <script src="biz-js/bus-app-route.js"></script>
        <script src="biz-js/bus-app-show-one-bus.js"></script>
        <script src="biz-js/bus-onclick.js"></script>
        <script src="biz-js/bus-functions.js"></script>
        <script src="biz-js/bus-app.js"></script>
    </body>
</html>
